<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Añadir permisos para pasos -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />


    <!-- Añadir permisos para fotos -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.sensor.step counter" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.step detector" android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity
            android:name=".VistaRuta"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBJ7KrlU8ubkNX4Uhhi4FZtN9XLOqyrVcE" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SubirRutaActivity"
            android:exported="true"
            android:label="@string/app_name">

        </activity>

        <activity
            android:name=".GaleriaRutaActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar" />

        <activity
            android:name=".ComentariosActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar" />

        <activity
            android:name=".PhotoViewerActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar" />

        <activity
            android:name=".PendingUploadsActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar" />


    </application>


</manifest>